{% extends 'base.html.twig' %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Body</th>
                <th scope="col">Actie</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
                <tr>
                    <td><img src="https://www.logolynx.com/images/logolynx/cc/cc83f233e69f838fc22cd270581a0bcf.png" height="100px"></td>
                    <th scope="row">{{ movie.id }}</th>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.body }}</td>
                    <td><a href="{{ path('movie_show', {'id' : movie.id}) }}">View</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
