{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(our_form) }}
    {{ form_widget(our_form) }}
    <input type="submit" value="Send" class="btn btn-success" />
    {{ form_end(our_form) }}
{% endblock %}